body {
    margin: 0;
    padding: 0;
    border: 0;
    overscroll-behavior: none;
}

#root {
    width: 100%;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: flex-start;*/
}